* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
  overflow-x: hidden;
  color: white;
}


@media (min-width: 320px) {

  .row {
    display: none;
  }

  .bignav {
    display: none;
  }

  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav {
    display: flex;
    align-items: center;    
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }



  .section1 {
    display: flex;
    
    flex-direction: column;
    margin: 10px auto 10px;
    align-items: center;
    margin-top: 50px;    
  }

  .section1div1 {
    width: 80%;
    order: 2;    
    margin-top: 20px;
  }

  .pretitle {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .description1 {
    font-weight: 300;
  }

  .headphone1div {
    width: 100%;
    height: 320px;
   
  }

  .headphones1 {
    height: 100%;
    transform: translate(-100px, 0);
  }

  .colorbar {
    order: 3;
    background-color: rgb(150, 150, 150); 
    color: black;
    font-weight: 700;    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.5s ease-in-out;
  }

  

  .colorbar:hover {
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
  }

  .colorbar section {
    display: flex;
    justify-content: end;
       
    width: 120px;
    height: 20px;
  }

  .colorbar section div:nth-child(1) {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #333;
    border-radius: 10px;
    border: black solid 2px;
  }
  .colorbar section div:nth-child(2) {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: black solid 2px;
  }
  .colorbar section div:nth-child(3) {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #f38b15;
    border-radius: 10px;
    border: black solid 2px;
  }

  .sectionShopAll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;    
    margin-top: 50px;
  }

  .buttonShopAll {
    height: 50%;
    width: 300px;
    border-top: 4px solid #858585; /* sets the light grey top border */
    border-left: 4px solid #6e6e6e; /* sets the light grey left border */
    border-right: 4px solid #1b1b1b; /* sets the dark grey right border */
    border-bottom: 4px solid #202020; /* sets the dark grey bottom border */
    border-radius: 10px;
    background-color: #333;
    color: rgb(236, 236, 236);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .buttonShopAll:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);    
    transition: background-color 0.1s ease-in-out;    
  }

  .image1 {
    width: 180%;    
    transform: translate(-20%, 0);
  }

  .section2 {    
    position: relative;
    margin-bottom: 80px;
  }

  .overtext1 {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 34px;
    font-weight: 800;
    
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 59%;
    left: 10%;
    font-size: 34px;
    
  }



  .woofersection {
    position: relative;
    padding-bottom: 280px;
    margin-top: 60px;
   
  }

  .wooferimg {
    height: 360px;
    transform: translate(-10%, 0);
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    text-align: center;
    font-size: 42px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 30px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    text-align: center;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
    margin-top: 60px;
    
  }

  .section3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .podsection3 > article {
    position: absolute;
    transform: translateY(260px);
    z-index: 40;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 1s ease-out;    
    background-color: white;
    padding: 8px 20px 28px;
    margin: 0 10px;
    border-radius: 5px;
  }

  .icon {
    width: 50px;
  }

  .podsection3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }

  .podsection3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    border-bottom: rgb(253, 77, 46) solid 4px ;
  }
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{
   
    
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 4px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  }

  
 
  
  
}



@media (min-width: 480px) {


  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav {
    display: flex;
    align-items: center;    
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }



  .headphone1div {
    width: 50%;
    height: 510px;
   
  }

  .headphones1 {
    height: 100%;
    
    transform: translate(-140px, 0);
  }

  .colorbar {
    order: 3;
    background-color: rgb(150, 150, 150); 
    color: black;
    font-weight: 700;    
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 4px 8px;
    border-radius: 5px;
    width: 200px;
    scale: 1.1;    
  }

  .heading2 {
    font-size: 90px;
  }

  .section1div1 {
    width: 50%;

  }

  .description1 {
    font-weight: 300;
  }

  .section1 {
    display: flex;
    
    flex-direction: column;
    margin: 10px auto 10px;
    align-items: center;
    margin-top: 80px;
  }

  .heading2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .section1div1 {
    order: 2;
    width: 80%;
  }

  .headphone1div {
    width: 100%;
  }

  .pretitle {
    font-size: 0.8rem;
  }

  .image1 {
    width: 180%;    
    transform: translate(-20%, 0);
  }

  .section2 {
    
    position: relative;
    margin-bottom: 80px;
  }

  .section2:hover>.overtext1 {
    transform: translate(130px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: rgba(32, 32, 32, 0.649);


  }

  .section2:hover>.overtext2 {
    transform: translate(-130px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: transparent;
  }

  .overtext1 {
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 50px;
    font-weight: 800;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 59%;
    left: 30%;
    font-size: 50px;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .woofersection {
    position: relative;
    padding-bottom: 280px;
    margin-top: 100px;
  }

  .wooferimg {
    height: 500px;
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    text-align: center;
    font-size: 70px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 40px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
    text-align: center;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    margin-top: 60px;
   
  }

  .section3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .icon {
    width: 50px;
  }

  .podsection3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }

  .podsection3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    border-bottom: rgb(253, 77, 46) solid 4px ;
  }
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{
   
    
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 4px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  } 
  
}




@media (min-width: 768px) {


  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
  }
  
  nav {
    display: flex;
    align-items: center;    
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }


  .section1 {
    position: relative;
    
    
    margin: 10px 10px 10px;
    
    margin-top: 80px;
  }

  .section1div1 {
    order: 2;
    width: 35%;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    text-align: right;
    
    position: absolute;
    z-index: 2;
  }

  .colorbar {
    order: 3;
    background-color: rgb(150, 150, 150); 
    color: black;
    font-weight: 700; 
    position: absolute; 
    right: 30px;
    top: 50%;  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 5px;
    width: 200px;
  }

  

  .pretitle {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 40px;
    margin-bottom: 10px;
  }  

  .description1 {
    font-weight: 300;
  }
  
  .headphone1div {
    width: 53%;
   
  }

  .headphones1 {
    height: 100%;
    transform: translate(-300px, 0);
  }

 


  .image1 {
    width: 120%;    
    transform: translate(-5%, 0);
  }

  .section2 {
    
    position: relative;
    margin-bottom: 80px;
  }

  .section2:hover>.overtext1 {
    transform: translate(230px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: rgba(32, 32, 32, 0.649);


  }

  .section2:hover>.overtext2 {
    transform: translate(-230px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: transparent;
  }

  .overtext1 {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 50px;
    font-weight: 800;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 59%;
    left: 50%;
    font-size: 50px;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }
  

  .woofersection {
    position: relative;
    padding-bottom: 80px;
    margin-top: 140px;
  }

  .wooferimg {
    height: 550px;
    transform: translate(80px, -60px);
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    text-align: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 40px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 67%;
    text-align: center;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    margin-top: 50px;
    
  }

  .section3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .icon {
    width: 50px;
  }

  .podsection3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }

  .podsection3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    border-bottom: rgb(253, 77, 46) solid 4px ;
  }
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{
   
    
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 8px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  }

  
}


@media (min-width: 1024px) {


  .bignav {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .bignav p:nth-child(1) {
    color: rgb(253, 77, 46);
  }

  .bignav p {
    margin: 0 10px; 
    border-bottom: transparent solid 1px;
    transition: border-bottom 0.2s ease-in-out;   
  }

  .bignav p:hover {
    cursor: pointer;
    border-bottom: rgb(253, 77, 46) solid 10px ;
    transition: border-bottom 0.2s ease-in-out;
  }

  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
  }
  
  nav {
    display: none;
       
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }

  .row {
    order: 4;
    display:flex;
    position: absolute;    
    right: 10px;
    bottom: 80px;
    background-color: #333;
    width: 450px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .column {
    flex: content;
    padding: 10px;
    
  }
  
  .row h3 {
    font-size: 16px;
    margin: 6px;
    font-size: 15px;
    font-weight: 100;
  }
  
  .row p {
    margin-bottom: 0;
    margin: 6px;
  }

  .section1 {
    position: relative;
    
    
    margin: 10px 10px 10px;
    
    margin-top: 80px;
  }

  .section1div1 {
    order: 2;
    width: 35%;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    text-align: right;
    
    position: absolute;
    z-index: 2;
  }

  .pretitle {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 40px;
    margin-bottom: 10px;
  }  

  .description1 {
    font-weight: 300;
  }
  
  .headphone1div {
    height: 600px;
    width: 53%;
   
  }

  .headphones1 {
    height: 100%;
    transform: translate(-380px, 0);
  }

 


  .image1 {
    width: 120%;    
    transform: translate(-5%, 0);
  }

  .section2 {
    
    position: relative;
    margin-bottom: 80px;
  }

  .section2:hover>.overtext1 {
    transform: translate(280px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: rgba(32, 32, 32, 0.649);


  }

  .section2:hover>.overtext2 {
    transform: translate(-280px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: transparent;
  }

  .overtext1 {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 50px;
    font-weight: 800;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 59%;
    left: 50%;
    font-size: 50px;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }


  .woofersection {
    position: relative;
    padding-bottom: 80px;
    margin-top: 140px;
  }

  .wooferimg {
    height: 650px;
    transform: translate(140px, -110px);
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    text-align: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 40px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 67%;
    text-align: center;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
  }

  .buttonShopAll {
    height: 100%;
    width: 300px;
    
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    margin-top: 50px;
    
  }

  .section3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .icon {
    width: 50px;
    transition: transform 0.9s ease-in-out;
  }

  .podsection3 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;    
    border: #333 solid 2px;
    border-radius: 10px;
    
  }

  .card {
    position: relative;
    overflow: hidden;
    transition: opacity 0.1s ease-in-out, transform 0.9s ease-in-out;
    opacity: 1;
    transform: translateY(0%);
    border:none;
    background-color: rgb(221, 221, 221);    
  }
  
  .card:hover {
    cursor: pointer;
    border: none;
  }
  
  .card > p {
    transition: transform 0.9s ease-in-out;
    z-index: 40;
  }

  .card > .icon {
    z-index: 40;
  }
  
  .card:hover .icon,
  .card:hover > p {
    transform: translateY(-120px);
    z-index: 20;
    transition: transform 0.5s ease-out;
    transition-delay: 0.1s;
  }
  
  .card:hover > article {
    opacity: 1;
    z-index: 30;
    transform: translateY(0px);
    
    transition-delay: 0.1s;
  }
  
  .card1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://blog.nzcouriers.co.nz/wp-content/uploads/sites/15/2022/05/iStock-1221101939.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
    transform: translateY(100%);
    transition: transform 0.9s ease-in-out;
  }

  .card2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://bevee.co.nz/wp-content/uploads/2021/01/bevee-home00E20_03.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
    transform: translateY(100%);
    transition: transform 0.9s ease-in-out;
  }

  .card3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://www.topreviews.co.nz/wp-content/uploads/2020/02/Best-Food-Delivery-Services-in-Auckland.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
    transform: translateY(100%);
    transition: transform 0.9s ease-in-out;
  }
  
  .card:hover:after {
    
    transform: translateY(0%);
    transition:  transform 0.9s ease-in-out;
  }

  
  
  
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{
   
    
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 8px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  }

  
}


@media (min-width: 1280px) {


  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
  }
  
  nav {
    display: none;
       
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }


  .section1 {
    position: relative;
    
    
    margin: 10px 10px 10px;
    
    margin-top: 80px;
  }

  .section1div1 {
    order: 2;
    width: 35%;
    right: 20px;
    top: 30%;
    transform: translateY(-50%);
    text-align: right;
    
    position: absolute;
    z-index: 2;
  }

  .pretitle {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 40px;
    margin-bottom: 10px;
  }  

  .description1 {
    font-weight: 300;
  }
  
  .headphone1div {
    width: 53%;
    height: 700px;
   
  }

  .headphones1 {
    height: 100%;
    transform: translate(-330px, 0);
  }

  .colorbar {
    order: 3;
    background-color: rgb(150, 150, 150); 
    color: black;
    font-weight: 700; 
    position: absolute; 
    right: 30px;
    top: 45%;  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 5px;
    width: 200px;
  }

  .row {
    order: 4;
    display:flex;
    position: absolute;    
    right: 10px;
    bottom: 154px;
    background-color: #333;
    width: 450px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .column {
    flex: content;
    padding: 10px;
    
  }
  
  .row h3 {
    font-size: 16px;
    margin: 6px;
    font-size: 15px;
    font-weight: 100;
  }
  
  .row p {
    margin-bottom: 0;
    margin: 6px;
  }


  .image1 {
    width: 120%;    
    transform: translate(-5%, 0);
  }

  .section2 {
    
    position: relative;
    margin-bottom: 80px;
  }

  .section2:hover>.overtext1 {
    transform: translate(380px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: rgba(32, 32, 32, 0.649);


  }

  .section2:hover>.overtext2 {
    transform: translate(-380px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: transparent;
  }

  .overtext1 {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 90px;
    font-weight: 800;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 59%;
    left: 50%;
    font-size: 90px;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }


  .woofersection {
    position: relative;
    padding-bottom: 20px;
    margin-top: 140px;
  }

  .wooferimg {
    height: 650px;
    transform: translate(110px, -80px);
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 75%;
    transform: translateX(-50%);
    top: 10%;
    text-align: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 30px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 30%;
    left: 74%;    
    transform: translateX(-50%);
    top: 28%;
    text-align: justify;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 25%;
    left: 74%;
    transform: translateX(-50%);
    bottom: 50%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    margin-top: 80px;
    
  }

  .section3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .icon {
    width: 50px;
  }

  .podsection3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }

  .podsection3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    border-bottom: rgb(253, 77, 46) solid 4px ;
  }
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{
   
    
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 8px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  }

  
}



@media (min-width: 1920px) {


  header {
    background-color: #333;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
  }
  
  nav {
    display: none;
       
  }

  #on {
    color: rgb(253, 77, 46) ;
  }

  #logo {
    width: 21px;
    height: 21px;
    transform: translateY(2px);
    background-color: rgb(253, 77, 46) ;
    display: inline-block;
    
  }

  input[type="checkbox"] {
    display: none;
  }
  
  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    background-color: rgb(253, 77, 46) ;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(13px)  rotate(45deg) scaleX(1.2);
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  
  #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-13px)  rotate(-45deg) scaleX(1.2);
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;    
    width: 90%;
    border-bottom:rgb(253, 77, 46) solid 8px ;
  }
  
  .menu li {
    border: black solid 2px;
    background-color:#333; 
    padding: 20px;
    width: 100%;
    cursor: pointer;
  }

  .menu li:hover {
    background-color: rgb(253, 77, 46)
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
    top: 50px;
    left: 10px;
    z-index: 10;
  }


  .section1 {
    position: relative;
    
    
    margin: 10px 10px 10px;
    
    margin-top: 80px;
  }

  .section1div1 {
    order: 2;
    width: 35%;
    right: 200px;
    top: 23%;
    text-align: right;
    
    position: absolute;
    z-index: 2;
  }

  .pretitle {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 80px;
    margin-bottom: 10px;
  }  

  .description1 {
    font-weight: 300;
    font-size: 22px;
  }
  
  .headphone1div {
    width: 53%;
    height: 800px;
   
  }

  .headphones1 {
    height: 100%;
    transform: translate(-410px, 0);
  }

  .colorbar {
    order: 3;
    background-color: rgb(150, 150, 150); 
    color: black;
    font-weight: 700; 
    position: absolute; 
    right: 210px;
    top: 40%;  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 5px;
    width: 200px;
  }

  .row {
    order: 4;
    display:flex;
    position: absolute;    
    right: 200px;
    bottom: 220px;
    background-color: #333;
    width: 450px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .column {
    flex: content;
    padding: 10px;
    
  }
  
  .row h3 {
    font-size: 16px;
    margin: 6px;
    font-size: 15px;
    font-weight: 100;
  }
  
  .row p {
    margin-bottom: 0;
    margin: 6px;
  }


  .image1 {
    width: 110%;    
    transform: translate(-5%, -30%);
  }

  .section2 {
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
  }

  .section2:hover>.overtext1 {
    transform: translate(380px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: rgba(32, 32, 32, 0.649);


  }

  .section2:hover>.overtext2 {
    transform: translate(-380px, 0);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;

    background-color: transparent;
  }

  .overtext1 {
    position: absolute;
    top: 30%;
    right: 50%;
    font-size: 90px;
    font-weight: 800;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }

  .overtext2 {
    background-color: rgba(32, 32, 32, 0.649);
    padding: 0px 10px 0px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 90px;
    transition: transform 999.9s ease-in-out, background-color 999.9s ease-in-out;
  }


  .woofersection {
    position: relative;
    padding-bottom: 20px;
    margin-top: 140px;
    
  }

  .wooferimg {
    height: 650px;
    transform: translate(360px, -80px);
  }

  .woofertext1 {
    position: absolute;
    width: 80%;
    left: 65%;
    transform: translateX(-50%);
    top: 10%;
    text-align: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
  }

  .woofertext1::after {
    content: "\2122";
    font-size: 30px;
    vertical-align: top;
  }

  .woofertext2 {
    position: absolute;
    width: 30%;
    left: 70%;    
    transform: translateX(-50%);
    top: 28%;
    text-align: justify;
  }

  .wooferbutton {
    position: absolute;
    height: 30px;
    width: 10%;
    left: 60%;
    transform: translateX(-50%);
    bottom: 50%;
    border-radius: 20px;
    border: none;
    font-weight: 800;
    
    
  }

  .wooferbutton:hover {
    background-color: rgb(253, 77, 46);
    cursor: pointer;
    color: white;
    
    background: rgb(253, 77, 46) url('https://64.media.tumblr.com/6e84f0a08127cb6e47a47941f235de50/tumblr_moxnwn0D9d1susybgo1_400.gif') no-repeat center center fixed;
  }

  .whyus {
    background-color: rgb(238, 238, 238);
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    margin-top: 80px;
    
  }

  .buttonShopAll {
    height: 70%;
    width: 300px;
    border-top: 4px solid #858585; /* sets the light grey top border */
    border-left: 4px solid #6e6e6e; /* sets the light grey left border */
    border-right: 4px solid #1b1b1b; /* sets the dark grey right border */
    border-bottom: 4px solid #202020; /* sets the dark grey bottom border */
    border-radius: 10px;
    background-color: #333;
    color: rgb(219, 219, 219);
    font-size: 16px;
  }

  .section3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    color: black;
    
    padding-bottom: 10px;
    
  }

  .icon {
    width: 50px;
  }

  .podsection3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    margin: 0 80px;
  }

  .podsection3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    
  }
  

  footer p {
    background-color: white;
    color: black;
    height: 70px;   
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-weight: 800;
    transform: translateY(0);
    
  }

  footer div:hover p{   
    cursor: pointer;
    border-left: rgb(253, 77, 46) solid 12px ;
  }

  footer section {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: end;
    
  }

  footer section div {
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    
  }

  
}